#samples{
  font-family: 'Merriweather', serif;
  font-family: 'Sacramento', cursive;
  font-family: 'Montserrat', sans-serif;

  color-1-light-blue:   #5bd1d7;
  color-2-dark-blue:    #348498;
  color-3-darker-blue:  #004d61;
  color-4-yellow:       #ffd98e;
}

/***********TAGS***********/

body{
  font-family: 'Merriweather', serif;/
  background-color: #5bd1d7;
  margin: 0;
  text-align: center;
}

h1{
  font-family: 'Sacramento', cursive;
  color: #ffd98e;
  font-size: 5.625rem;
  line-height: 0.50;
  /*margin: 0 auto 0 auto;*/

}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #5bd1d7;
  font-size: 2.5rem;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #5bd1d7;
  font-size: 1.5rem;
}



hr{
  border: 6px dotted #EAF6F6;
  border-bottom: none;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*div{
  background-color: #cae8d5;
}*/

/***********CLASSES***********/

.hr-test{
  border: 4px solid #004d61;
  border-radius: 100%;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.top-container{

  background-color: #004d61;
  position:relative;
  padding: 100px 50px 0px 50px;
}

.middle-container{
  background-color: #348498;
  padding: 45px 45px 45px 45px;
}

.bottom-container{
  background-color: #004d61;
  padding: 40px 0px 20px;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-images{
  width: 25%;
  height: auto;
  float: left;
  margin-right: 30px;
}

.mcu-image{
  width: 25%;
  height: auto;
  float: left;
  margin-right: 30px;
}

.qa-image{
  width: 25%;
  height: auto;
  float: right;
  margin-right: 30px;
}

.dev-image{
  width: 25%;
  height: auto;
  float: left;
  margin-right: 30px;
}


.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.link-separator{
  font-family: 'Montserrat', sans-serif;
  color: #ffd98e;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.20rem;
}

.welcome-msg{
  width: 35%;
  margin: auto;
  line-height: 2;
}

.ending-msg{
  width: 35%;
  margin: auto;
  line-height: 2;
}

.contactme-btn{
  background: #4EB4F0;
  background-image: -webkit-linear-gradient(top, #4EB4F0, #0E61BF);
  background-image: -moz-linear-gradient(top, #4EB4F0, #0E61BF);
  background-image: -ms-linear-gradient(top, #4EB4F0, #0E61BF);
  background-image: -o-linear-gradient(top, #4EB4F0, #0E61BF);
  background-image: linear-gradient(to bottom, #4EB4F0, #0E61BF);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  margin: 30px 10px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contactme-btn:hover {
	border: solid #337FED 1px;
	background: #1E62D0;
	background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
	background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-decoration: none;
}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  margin: auto 25px auto 25px;
  font-size: 1.25rem;
  color: #11999E;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover{
  font-family: 'Montserrat', sans-serif;
  margin: auto 25px auto 25px;
  font-size: 1.25rem;
  color: #EAF6f6;
  font-weight: bold;
}

.footer-msg{
  color: #EAF6F6;
  margin-top: 35px;
  font-size: .9rem;
}

/***********IDs***********/

#zed-circle{
  width: 15%;
  height: auto;
  left: 300px;
  border: 5px solid #ffd98e;
  border-radius: 100%;
}
