#samples{
  font-family: 'Merriweather', serif;
  font-family: 'Sacramento', cursive;
  font-family: 'Montserrat', sans-serif;

  color-1-light-blue:   #5bd1d7;
  color-2-dark-blue:    #348498;
  color-3-darker-blue:  #004d61;
  color-4-yellow:       #ffd98e;
}

/***********TAGS***********/

body{
  font-family: 'Merriweather', serif;/

  background-color: #5bd1d7;
  margin: 0;
  text-align: center;
}

h1{
  font-family: 'Sacramento', cursive;
  color: #ffd98e;
  font-size: 562.5%;
  margin: 0 auto 0 auto
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #5bd1d7;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #5bd1d7;
}

hr{
  border: 4px solid #004d61;
  border-radius: 100%;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*div{
  background-color: #cae8d5;
}*/

/***********CLASSES***********/

.top-container{

  background-color: #004d61;
  position:relative;
  padding: 100px 50px 0px 50px;
}

.middle-container{
  background-color: #348498;
  padding: 50px 50px 50px 50px;
}

.bottom-container{
  background-color: #004d61;
  padding: 50px 50px 50px 50px;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-images{
  width: 12.5%;
  height: auto;
}

hr{
  border: 4px solid #004d61;
  border-radius: 100%;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-separator{
  font-family: 'Montserrat', sans-serif;
  color: #ffd98e;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 115%;
}


/***********IDs***********/

#zed-circle{
  width: 15%;
  height: auto;
  left: 300px;
  border: 5px solid #ffd98e;
  border-radius: 100%;
}
